src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
==========================================================================
 MuleSoft Application XML (mule-config.xml)
==========================================================================
 Projeto: github-actions
 Autor: Leonel Dorneles Porto
 Email: leoneldornelesporto@outlook.com.br
 Telefone: +55 53 99180-4869
==========================================================================
 Descrição:
  - Configuração principal da aplicação MuleSoft com HTTP Listener.
  - Exemplo básico demonstrando um endpoint HTTP, manipulação do payload
    e logs para acompanhamento.
==========================================================================
 Documentação oficial MuleSoft:
 https://docs.mulesoft.com/mule-runtime/4.4/
==========================================================================
-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- =================================================== -->
    <!-- Configuração Global: HTTP Listener                  -->
    <!-- =================================================== -->
    <http:listener-config name="http-listener-config"
                          doc:name="HTTP Listener Config"
                          doc:id="4d9a27a6-aa13-4779-bbfc-9406adfcc540">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <!-- =================================================== -->
    <!-- Fluxo Principal: github-actions-main-flow           -->
    <!-- Endpoint: /test                                     -->
    <!-- =================================================== -->
    <flow name="github-actions-main-flow"
          doc:name="GitHub Actions Main Flow"
          doc:id="369e8550-5402-4ab8-ba48-b0f8f1864521">

        <!-- Listener HTTP expõe a aplicação no caminho /test -->
        <http:listener doc:name="HTTP Listener (/test)"
                       doc:id="0bd6dc4e-9461-45b6-991b-6f038c20de28"
                       config-ref="http-listener-config"
                       path="/test" />

        <!-- Define payload estático para resposta -->
        <set-payload value="It worked!"
                     doc:name="Set Response Payload"
                     doc:id="6c99f11e-a43b-4ae5-868d-9d6ac777af65" />

        <!-- Log do payload gerado para monitoramento -->
        <logger level="INFO"
                doc:name="Log Response Payload"
                doc:id="4eaf016f-77ae-4cbc-889a-bf2ef77025d9"
                message="#[payload]" />
    </flow>

</mule>
